<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AVHS API Explorer</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.modelbinder/1.0.4/Backbone.ModelBinder.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="style/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  </head>
  <body class="avhs-api-browser">

    <header><h1 class="app-title">AVHS API Explorer</h1></header>
    <main>
      <div class="controller container"></div>
      <div class="action container"></div>
      <div class="param container"></div>
      <div class="space-filler"></div>
    </main>
    <footer></footer>

    <script type="text/template" class="user-view-template">
      <form>
        <input class="text-field" name="u" type="text" placeholder="User name" />
        <input class="text-field" name="p" type="text" placeholder="Password (visible)" />
        <input class="button get-controllers" type="submit" value="Start" />
      </form>
    </script>

    <script type="text/template" class="url-view-template">
      <a class="url" target="_blank" />
    </script>

    <script type="text/template" class="controller-view-template">
      <span name="name" class="controller-title" />
    </script>

    <script type="text/template" class="action-view-template">
      <span name="name" />
      <span name="version" />
    </script>

    <script type="text/template" class="param-view-template">
      <input class="text-field" name="value" type="text" placeholder="<%= valid %>" />
      <label>
        <span name="name" class="param-title" />
        <span name="mandatory" class="mandatory-indicator" />
      </label>
    </script>

    <script type="text/javascript" src="app/script.js"></script>
  </body>
</html>
