@import "compass";
@import "animation";
@import "compass/css3/box";

$dark-gray: #bbb;
$light-gray: #c4c4c4;
$active-controller-color: deepskyblue;
$active-action-color: lawngreen;

.dark-inset-text {
  color: #222;
  text-shadow: 0 1px 0 rgba(white, 0.25);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  @include display-box;
  @include box-orient(vertical);
}

main {
  @include box-flex(1);
  @include display-box;
  @include box-orient(horizontal);
}

.app-title {
  float: right;
  margin: 9px 20px 7px;
  @extend .dark-inset-text;
}

header, footer {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 1px 1px rgba(white, 0.25) inset,
              0 -1px 1px rgba(black, 0.1) inset;
  background: #6f675e url("http://avhs-dev.axis.com/webgui/img/topbar-bg.png");
}

.user-view {
  display: inline-block;
  padding: 12px;
}

.container {
  position: relative;
  overflow: hidden;
  max-width: 0px;
  transition: max-width 0.3s ease-in;
  background: #ddd;
  @include box-flex(0);

  &.visible {
    max-width: 800px;
    transition: max-width 0.3s ease-out;
  }

  > div {
    overflow: hidden;
    @include animation-duration(0.3s);
    @include animation-name(slidedown);
  }
}

.space-filler {
  @include box-flex(1);
  background: #333;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
}

.controller-view, .action-view {
  position: relative;
  padding: 4px 13px 5px;
  cursor: pointer;
  box-shadow: 0 -1px 0 $light-gray inset,
              -1px 0 0px $light-gray inset,
              0 1px 0 white inset;
  @include background-image(linear-gradient(top, #eee, #ddd));

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    border-right: 1px solid $dark-gray;
    background: rgba(0, 0, 0, 0.3);
  }

  &.selected {
    @include background-image(linear-gradient(top, $dark-gray, #ccc));
    box-shadow: 0 1px 0 rgb(175, 175, 175) inset;
  }
}

.controller.container {
  z-index: 3;
  box-shadow: -1px 0 0px $light-gray inset;

  .controller-view {
    &.selected:before {
      background: rgba($active-controller-color, 0.7);
      border-right: 0 none;
      box-shadow: 0 0 5px rgba(black, 0.15) inset, 0 0 3px rgba($active-controller-color, 0.7);
    }
  }
}

.action.container {
  z-index: 2;
  box-shadow: 4px 0px 6px -2px rgba(0, 0, 0, 0.06) inset,
              -1px 0 0px $light-gray inset;

  .action-view {
    &.selected:before {
      background: rgba($active-action-color, 0.7);
      border-right: 0 none;
      box-shadow: 0 0 5px rgba(black, 0.15) inset, 0 0 3px rgba($active-action-color, 0.7);
    }
  }
}

.param.container {
  z-index: 1;
  background: #ccc;
  padding-top: 10px;
  box-shadow: 4px 0px 6px -2px rgba(0, 0, 0, 0.06) inset,
              -1px 0 0px $light-gray inset;

  .param-view {
    margin: 10px 20px 0 20px;
    padding: 1px;
    overflow: hidden; // Clear floating children

    label {
      display: inline-block;
      padding-top: 2px;
      color: #555;
    }

    > .text-field {
      float: right;
      width: 330px;
      margin-left: 20px;
    }
  }
}

.url-view {
  padding: 12px 12px 10px;

  a {
    @extend .dark-inset-text;
    text-decoration: none;
  }
}

.button {
  outline: none;
  border: 0 none;
  padding: 2px 8px;
  box-shadow: 0 1px 1px white inset,
              0 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  font-weight: bold;
  @extend .dark-inset-text;
  @include background-image(linear-gradient(top, #ddd, $dark-gray));

  &:active {
    box-shadow: 0 1px 1px white inset,
                0 1px 1px rgba(0, 0, 0, 0.1);
    @include background-image(linear-gradient(top, #ddd, #aaa));
  }
}

.text-field {
  outline: none;
  border: 0 none;
  padding: 2px 6px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25) inset,
              0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  border-radius: 2px;
  @include background-image(linear-gradient(top, #e0e0e0, white));
}

.version {
  color: darkslategray;
}

.mandatory-indicator {
  color: red;
}

@include keyframes(slidedown) {
  from {
    opacity: 0;
    max-height: 0px;
  }

  to {
    opacity: 1;
    max-height: 40px;
  }
}
